@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanssemibold.woff2") format("woff2"),
    url("../fonts/opensanssemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansitalic.woff2") format("woff2"),
    url("../fonts/opensansitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansextrabold.woff2") format("woff2"),
    url("../fonts/opensansextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #333333;
  font-size: 16px;
  line-height: 32px;
  font-family: "Open Sans";
  font-weight: 400;
  background-color: #fff;
}
.container {
  margin: 0 auto;
  width: 1920px;
}

h1 {
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

a:focus,
button:focus,
input:focus,
.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: 2px solid #7943a4;
}

a:hover {
  color: #c283f3;
}

a:active {
  color: #7943a4;
}

main {
  background: #e5e5e5;
}

section {
  margin-bottom: 80px;
}

h2 {
  font-size: 48px;
  line-height: 65.37px;
}

.hide {
  display: none !important;
}

/* header */

.container_header {
  position: relative;
  z-index: 3;
}
header {
  margin-bottom: -180px;
}

.header__menu {
  display: flex;
  padding: 0 160px;
  min-height: 100px;
  align-items: center;
  background-color: #000000;
}

.burger {
  display: none;
}

.header__logo {
  display: flex;
  flex: 0 0 180px;
  margin-right: 170px;
  align-items: center;
}

.header__mobil {
  display: flex;
  flex: 0 0 calc(100% - 350px);
}

.header__account {
  margin-left: auto;
  padding-left: 20px;
  color: #ffffff;
  text-decoration: none;
  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 10px;
  transition: background-image 0.3s ease-in-out;
}

.header__account:hover {
  background-image: url("../img/vector_bl.svg");
}

.header__account:active {
  background-image: url("../img/vector_act.svg");
}

.header__list {
  margin-right: 30px;
  margin-left: 30px;
}

.header__item {
  display: inline-block;
  margin-right: 62px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  color: #ffffff;
  font-size: 18px;
  line-height: 24.51px;
  text-decoration: none;
  font-weight: 600;
}

.header__menu2 {
  display: flex;
  align-items: center;
  padding: 0 160px;
  min-height: 70px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__item2 {
  position: relative;
  display: inline-block;
  margin-right: 111px;
}

.header__item2:last-child {
  display: inline-block;
  margin-right: 0;
}

.header__link2 {
  color: #ffffff;
  padding-right: 15px;
  text-decoration: none;
  background-image: url("../img/arrow-bot-white.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 5px;
  transition: background-image 0.3s ease-in-out;
}

.header__link2:hover {
  background-image: url("../img/arrow_blue.svg");
}

.header__list2_link a {
  color: #fff;
  text-decoration: none;
}

.header__list2_link a:hover {
  color: #c283f3;
}

.header__list2_link a:active {
  color: #7943a4;
}

.header__list2_list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  max-height: 280px;
  padding: 40px;
  color: #fff;
  text-align: center;
  list-style: none;
  border: none;
  border-bottom: none;
  border-top: none;
  background-color: #999999;
}

.header__item2:hover .header__list2_list {
  display: block;
}

.header__list2_link {
  display: block;
  margin-bottom: 20px;
  width: 220px;
  height: 40px;
  color: #fff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  transition: border 0.3s ease-in-out;
}

.header__list2_link:hover {
  border: 2px solid #9d5cd0;
}

.header__list2_link:active {
  background: linear-gradient(
    0deg,
    rgba(194, 131, 243, 0.4),
    rgba(194, 131, 243, 0.4)
  );
  border: 2px solid #d1a9f0;
}

.link2_1 {
  background-image: url(../img/v-m1.jpg);
}

.link2_2 {
  background-image: url(../img/v-m3.jpg);
}

.link2_3 {
  background-image: url(../img/v-m1.jpg);
}

.link2_4 {
  background-image: url(../img/v-m3.jpg);
}

.simplebar-scrollbar::before {
  background-color: #c283f3;
  width: 6px;
  opacity: 1;
}

.simplebar-content-wrapper {
  overflow: auto;
}

.header__search {
  margin-left: auto;
  position: relative;
}

.search_input {
  margin-left: 31px;
  padding: 6px 0;
  color: rgba(255, 255, 255, 0.85);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  background-color: transparent;
  cursor: pointer;
}

.search_input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

.search_input:hover {
  border-bottom: 1px solid#c283f3;
}

.search_btn {
  position: absolute;
  left: 0;
  top: 10px;
  width: 22.1px;
  height: 21.62px;
  background: url("../img/search.svg") no-repeat;
  background-size: contain;
  border: none;
}

/* section hero */
.container__hero {
  padding-top: 110px;
  min-height: 800px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: center;
  background-position-y: center;
  /* animation: anim 10s linear infinite; */
}

.container__hero:nth-child(1) {
  background-image: url(../img/slide-2.jpg);
}

.container__hero:nth-child(2) {
  background-image: url(../img/slide-1.jpg);
}

.container__hero:nth-child(3) {
  background-image: url(../img/slide-3.jpg);
}

@keyframes anim {
  0% {
    background-size: 100%;
  }
  25% {
    background-size: 115%;
  }
  40% {
    background-size: 130%;
  }
  50% {
    background-size: 130%;
  }
  75% {
    background-size: 115%;
  }
  90% {
    background-size: 100%;
  }
  100% {
    background-size: 100%;
  }
}

.wrap__hero {
  padding-left: 160px;
  padding-top: 133px;
}

.hero__title {
  max-width: 597px;
  color: #ffffff;
  font-size: 72px;
  line-height: 82.8px;
  font-weight: 700;
}

.hero__text {
  margin-bottom: 92px;
  max-width: 579px;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.hero__link {
  padding: 22.5px 35px;
  color: #ffffff;
  font-size: 18px;
  line-height: 24.51px;
  border-radius: 100px;
  background: #9d5cd0;
  text-decoration: none;
}

.hero__link:hover {
  color: #fff;
  border: 3px solid #d1a9f0;
}

.hero__link:active {
  background-color: #7943a4;
  border: 3px solid #d1a9f0;
}

/* section about */

.wrap__about {
  padding-left: 157px;
  padding-bottom: 80px;
}

.about__title {
  margin-bottom: 30px;
}

.about__text {
  max-width: 1080px;
}
/* section galery */

.wrap__gallery {
  min-height: 995px;
  background-image: url("../img/gallery-fon.jpg");
  background-size: cover;
}

.wrap__gallery {
  display: flex;
  padding-left: 157px;
  padding-right: 160px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.gallery__deckription {
  flex: 0 0 450px;
  padding-right: 50px;
}

.gallery__title {
  margin-bottom: 30px;
  color: #ffffff;
}

.filters_desc {
  color: #ffffff;
  font-weight: 600;
}

.wrap_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 750px;
}

.gallery__text {
  color: #ffffff;
}
.gallery__text_mob {
  display: none;
}

.galery__slide {
  position: relative;
  width: 350px;
  height: 350px;
  background-size: cover;
}

.choices__inner {
  color: #fff;
  font-size: 16px;
  background: none;
  border-radius: 6px;
}

.choices[data-type*="select-one"]::after {
  width: 10px;
  height: 10px;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  box-sizing: border-box;
  transform: rotate(45deg);
}

.choices__list--dropdown {
  color: #fff;
  background: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after {
  display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown .choices__item--selectable {
  border-bottom: 1px solid #999999;
  font-size: 16px;
}

.galery__fon {
  position: absolute;
  top: 25px;
  left: 25px;
  display: none;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/seach5.svg), url(../img/krest.svg);
  background-repeat: no-repeat;
  background-position-x: 48%, 50%;
  background-position-y: 51%, center;
}
.galery__slide_1 {
  background-image: url(../img/gal1.jpg);
}

.swiper-slide:hover .galery__fon {
  display: block;
}

.galery__slide_2 {
  background-image: url(../img/gal2.jpg);
}

.galery__slide_3 {
  background-image: url(../img/gal3.jpg);
}

.galery__slide_4 {
  background-image: url(../img/gal4.jpg);
}

.galery__slide_5 {
  background-image: url(../img/gal5.jpg);
}

.galery__slide_6 {
  background-image: url(../img/gal6.jpg);
}

.galery__slide_7 {
  background-image: url(../img/gal7.jpg);
}
.galery__slide_8 {
  background-image: url(../img/gal8.jpg);
}
.galery__slide_9 {
  background-image: url(../img/gal9.jpg);
}

.galery__slide_10 {
  background-image: url(../img/gal10.jpg);
}

.galery__slide_11 {
  background-image: url(../img/gal11.jpg);
}

.galery__slide_12 {
  background-image: url(../img/gal12.jpg);
}

.galery__slide_13 {
  background-image: url(../img/gal13.jpg);
}

.galery__slide_14 {
  background-image: url(../img/gal14.jpg);
}

.galery__slide_15 {
  background-image: url(../img/gal15.jpg);
}

.galery__slide_16 {
  background-image: url(../img/gal6.jpg);
}

.galery__slide_17 {
  background-image: url(../img/gal7.jpg);
}

.galery__slide_18 {
  background-image: url(../img/gal18.jpg);
}

.galery__slide_19 {
  background-image: url(../img/gal19.jpg);
}

.galery__slide_20 {
  background-image: url(../img/gal20.jpg);
}

.galery__slide_21 {
  background-image: url(../img/gal21.jpg);
}

.galery__slide_22 {
  background-image: url(../img/gal22.jpg);
}
.galery__slide_23 {
  background-image: url(../img/gal23.jpg);
}

.galery__slide_24 {
  background-image: url(../img/gal24.jpg);
}

.galery__slide_25 {
  background-image: url(../img/gal25.jpg);
}

.galery__slide_26 {
  background-image: url(../img/gal26.jpg);
}

.galery__slide_27 {
  background-image: url(../img/gal27.jpg);
}

.galery__slide_28 {
  background-image: url(../img/gal28.jpg);
}

.galery__slide_29 {
  background-image: url(../img/gal29.jpg);
}

.galery__slide_30 {
  background-image: url(../img/gal30.jpg);
}

.gallery__slider {
  flex: 0 0 1150px;
  padding-top: 80px;
  min-width: 0;
  height: 830px;
}

.gallery__slider .swiper-slide {
  height: calc((100% - 50px) / 2);
}

.gallery__slider .swiper-button-next,
.gallery__slider .swiper-button-prev,
.editions__slider .swiper-button-next,
.editions__slider .swiper-button-prev {
  top: 30px;
  width: 31px;
}

.gallery__slider .swiper-button-prev:after,
.editions__slider .swiper-button-prev:after {
  content: "";
  width: 30px;
  height: 30px;
  background: url("../img/gal-arrow.svg") no-repeat;
  background-size: cover;
}

.gallery__slider .swiper-button-next,
.editions__slider .swiper-button-next {
  right: auto;
  left: 100px;
}

.gallery__slider .swiper-button-next:after,
.editions__slider .swiper-button-next:after {
  content: "";
  width: 30px;
  height: 30px;
  background: url("../img/galarrow1.svg") no-repeat;
  background-size: cover;
}

.swiper-pagination-fraction {
  color: #ffffff;
  font-size: 16px;
  line-height: 32px;
  left: 40px;
  top: 14px;
}

.swiper-pagination {
  padding: 0 12px;
  text-align: left;
}

.gallery__link {
  color: #d1a9f0;
}

/* section catalog */

.wrap_catalog {
  padding: 80px 160px 0 157px;
}

.catalog__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.catalog__title {
  margin-right: 41px;
}

.catalog__country {
  margin-top: 10px;
}

.catalog__language {
  display: inline-block;
}

.catalog__flag {
  position: relative;
  display: block;
  margin-right: 50px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-repeat: no-repeat;
  box-sizing: content-box;
  background-position: center;
}

.catalog__flag:hover {
  box-shadow: 0px 0px 20px rgba(157, 92, 208, 0.7);
}

.catalog__flag::before {
  content: "";
  display: block;
  width: 54px;
  height: 54px;
  border: 3px solid #9d5cd0;
  border-radius: 50%;
  position: absolute;
  bottom: -8px;
  left: -6px;
  opacity: 0;
}
.catalog__flag:visited.catalog__flag::before {
  opacity: 1;
}

.catalog__flag:active,
.catalog__flag:focus {
  border-radius: 50%;
  border: 2px solid #9d5cd0;
  outline: none;
}

.france {
  background-image: url(../img/flag-franl.svg);
}

.germany {
  background-image: url(../img/flag-germ.svg);
}

.italy {
  background-image: url(../img/flag-ital.svg);
}

.rus {
  background-image: url(../img/flag-rus.svg);
}

.belgium {
  background-image: url(../img/flag-belg.svg);
}

.catalog__text {
  max-width: 1080px;
  margin-bottom: 50px;
}

.catalog__content {
  display: flex;
}
.catalog__picture {
  flex: 0 0 750px;
  margin-right: 50px;
}
.catalog__painter {
  margin-bottom: 15px;
}

.catalog__date {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 16.34px;
}

.catalog__list {
  margin-top: 25px;
  padding-bottom: 38px;
  list-style: none;
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
}

.catalog__link {
  color: #333333;
  font-size: 24px;
  text-decoration: none;
  line-height: 32px;
  font-weight: 600;
}

.catalog__link__painter {
  text-decoration: none;
  color: #333333;
}

.activ {
  color: #9d5cd0;
}

.catalog__link:active,
.catalog__link:focus,
.catalog__link:hover {
  outline: none;
}

.accordion .ui-accordion-header {
  position: relative;
  display: flex;
  align-items: center;
}

.accordion .ui-accordion-header-icon {
  content: "";
  position: absolute;
  top: 31px;
  right: 0px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../img/arr-down.png) no-repeat;
}

.accordion .ui-accordion-header-active .ui-accordion-header-icon {
  background-image: url(../img/arr-up.png);
}

.catalog__painters {
  flex: 1 1 auto;
}

.catalog__item {
  min-height: 113px;
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
}

/* section events */

.wrap__events {
  margin: 0 160px;
}

.events__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.events__slider {
  display: none;
}

.events__title {
  margin-bottom: 30px;
}

.events__event {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc((100% - 100px) / 3);
  margin-right: 50px;
  margin-bottom: 50px;
  min-height: 700px;
  border: 1px solid #cacaca;
}

.events__event:nth-child(3n) {
  margin-right: 0;
}

.events__description-wrap {
  padding-left: 50px;
  padding-right: 50px;
}

.events__img-desc {
  margin-left: auto;
  padding-right: 19px;
  max-width: 211px;
  text-align: right;
  color: #999999;
  font-size: 12px;
  line-height: 16.34px;
  font-weight: 600;
}

.events__title-show {
  max-width: 420px;
  font-size: 24px;
  line-height: 32.68px;
  font-weight: 600;
}

.events__link {
  margin-top: auto;
  margin-bottom: 48px;
  margin-left: 50px;
  max-width: 100px;
}
.event__link:hover {
  color: #9d5cd0;
}

.events__btn {
  display: block;
  margin: 0 auto;
  width: 188px;
  height: 59px;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  background-color: transparent;
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 700;
}
/* section edition */

.editions {
  color: #ffffff;
}

.wrap__editions {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-left: 156px;
  padding-right: 160px;
  min-height: 763px;
  background-image: url(../img/edition.jpg);
  background-size: cover;
}

.editions__mobil {
  display: none;
}

.editions__title {
  margin-bottom: 30px;
}

.editions__list {
  margin-bottom: 32px;
  list-style: none;
}

.editions__price {
  font-weight: 700;
}

.category__title {
  font-weight: 700;
}

.editions__check {
  display: none;
}

.checkbox {
  position: relative;
  padding-left: 24px;
}

.editions__check + span {
  position: absolute;
  top: 5px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
}

.editions__check + span::before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 3px;
  width: 4px;
  height: 4px;
  background-color: #c283f3;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.editions__check:checked + span::before {
  opacity: 1;
}

.editions__filter {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.editions__span {
  padding: 0 10px;
}

.editions__input {
  max-width: 73px;
  color: #ffffff;
  height: 40px;
  background-color: rgba(157, 92, 208, 0.5);
  border: none;
}

.editions__input::placeholder {
  color: #ffffff;
  text-align: center;
}

.editions__description {
  flex: 0 0 auto;
}

.editions__slider {
  flex: 0 0 1150px;
  margin-top: 13px;
  padding-top: 85px;
}

.swiper__img {
  margin-bottom: 23px;
}

.swiper__description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.swiper__text {
  line-height: 21.79px;
  font-weight: 700;
}

.swiper__autor {
  font-weight: 400;
}

.swiper__price {
  font-style: italic;
  line-height: 21.79px;
}

.swiper__button {
  width: 120px;
  height: 40px;
  color: #ffffff;
  line-height: 21.79px;
  border-radius: 100px;
  border: 2px solid #9d5cd0;
  background-color: transparent;
}

/* section project */

.wrap__projects {
  display: flex;
  flex-direction: column;
  padding-left: 157px;
  padding-right: 160px;
  min-width: 0;
}

.projects__title {
  margin-bottom: 30px;
}

.projects__description {
  max-width: 1080px;
  margin-bottom: 30px;
}

.projects__parthers {
  margin-bottom: 23px;
}

.projects__slider {
  padding: 0 50px;
}

.gh {
  overflow: hidden;
}

.projects__img {
  border: 1px solid #333;
  text-align: center;
}

.projects__img img {
  max-width: 100%;
}

.projects__slider .swiper-button-next:after {
  content: "";
  width: 30px;
  height: 30px;
  background: url("../img/slider-l.png") no-repeat;
  background-size: cover;
}

.projects__slider .swiper-button-prev,
.projects__slider .swiper-button-next {
  width: 30px;
}

.projects__slider .swiper-button-prev:after {
  content: "";
  width: 30px;
  height: 30px;
  background: url("../img/slider-r.png") no-repeat;
  background-size: cover;
}

.projects__slider .swiper-button-prev {
  right: auto;
  left: 0;
}

.projects__slider .swiper-button-next {
  left: auto;
  right: 0;
}

.projects__img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  border: 1px solid #cacaca;
}

.projects__picture {
  width: 450px;
  height: 150px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  transition: background-image 300ms ease-in-out;
}

.projects__picture_1 {
  background-image: url(../img/projects1.svg);
}

.projects__picture_1:hover {
  background-image: url(../img/projects11.svg);
}

.projects__picture_3 {
  background-image: url(../img/projects3.svg);
}

.projects__picture_3:hover {
  background-image: url(../img/projects31.svg);
}

.projects__picture_2 {
  background-image: url(../img/projects2.svg);
}

.projects__picture_2:hover {
  background-image: url(../img/projects21.svg);
}

.projects__picture_4 {
  background-image: url(../img/projects4.svg);
}

.projects__picture_4:hover {
  background-image: url(../img/projects41.svg);
}

.projects__picture_5 {
  background-image: url(../img/projects5.svg);
}

.projects__picture_5:hover {
  background-image: url(../img/projects51.svg);
}

.projects__picture_6 {
  background-image: url(../img/projects6.svg);
}

.projects__picture_6:hover {
  background-image: url(../img/projects61.svg);
}

.projects__picture_7 {
  background-image: url(../img/projects7.svg);
}

.projects__picture_7:hover {
  background-image: url(../img/projects71.svg);
}

.projects__picture_8 {
  background-image: url(../img/projects8.svg);
}

.projects__picture_8:hover {
  background-image: url(../img/projects81.svg);
}

.projects__picture_9 {
  background-image: url(../img/projects9.svg);
}

.projects__picture_9:hover {
  background-image: url(../img/projects91.svg);
}

.projects__link {
  color: #9d5cd0;
  font-weight: 600;
  text-decoration: none;
}

.projects__link:focus {
  outline: 1px solid #9d5cd0;
}

.projects__link:hover {
  text-decoration: underline;
}

.projects__link:active {
  color: #7943a4;
  text-decoration: underline;
}

.projects__help {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/tyl.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.help1,
.help2,
.help3 {
  position: relative;
}

.help1::before,
.help2::before,
.help3::before {
  position: absolute;
  left: -121px;
  display: none;
  padding: 8px 11px 12px 11px;
  width: 242px;
  color: #fff;
  font-size: 12px;
  line-height: 16.34px;
  background-color: #cacaca;
}

.help1::after,
.help2::after,
.help3::after {
  content: "";
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #cacaca;
}

.help1:hover.help1::before,
.help1:hover.help1::after,
.help2:hover.help2::before,
.help2:hover.help2::after,
.help3:hover.help3::before,
.help3:hover.help3::after {
  display: block;
}

.help1::before {
  content: "Пример современных тенденций - современная методология разработки ";
  top: -64px;
}

.help1::after {
  top: -14px;
}

.help2::before {
  content: "Приятно, граждане, наблюдать, как сделанные на базе аналитики выводы вызывают у вас эмоции";
  top: -80px;
}

.help3::before {
  content: "В стремлении повысить качество ";
  top: -47px;
}

.help2::after {
  top: -14px;
}

.help3::after {
  top: -14px;
}

/* section contacts */

.contacts {
  margin-bottom: 0;
}

.wrap__contacts {
  padding-left: 160px;
}

.contact__content {
  display: flex;
}

.contacts__adress {
  display: block;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.contacts__adress1 {
  display: block;
  margin-bottom: 36px;
}

.contacts__form {
  display: flex;
  flex-direction: column;
}

.contacts__info {
  padding-top: 124px;
  flex: 0 0 540px;
}

.contacts__label {
  margin-bottom: 22px;
}

.contacts__input {
  padding-left: 24px;
  width: 400px;
  height: 40px;
  border: 1px solid #333333;
  border-radius: 100px;
}

.contacts__input::placeholder {
  color: #999999;
}

.contacts__span {
  display: block;
  margin-bottom: 19px;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.contacts__button {
  margin-bottom: 38px;
  width: 157px;
  height: 59px;
  color: #9d5cd0;
  font-size: 18px;
  line-height: 24.51px;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  font-weight: 700;
  background-color: #ffffff;
}

.contacts__social {
  list-style-type: none;
}

.contacts__item {
  display: inline-block;
}

.wt {
  display: block;
  margin-right: 20px;
  width: 38.75px;
  height: 38.75px;
  background-image: url(../img/Whatsapp-Icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.tg {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../img/tg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__map {
  width: 1238px;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* footer */

footer {
  background-color: #000000;
}

.footer__wrap {
  display: flex;
  padding: 0 160px;
  align-items: center;
  min-height: 140px;
}

.footer__logo {
  margin-right: auto;
}

.footer__social {
  margin-left: auto;
}

.social {
  display: inline-block;
  width: 45.4px;
  height: 45.4px;
  margin-right: 19px;
}

.social:last-child {
  margin-right: 0;
}

.fb {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.vk {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.instagram {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* @media (max-width: 1919px) {
  .container {
    width: 1024px;
  }
  header {
    margin-bottom: -100px;
  }
  .header__list2 {
    display: none;
  }
  .burger {
    display: flex;
    align-items: center;
  }

  .burger a {
    margin-right: 24px;
    position: relative;
    background-color: #fff;
    padding: 10px 0;
    margin-top: 20px;
  }

  .burger a:hover,
  .burger a:focus {
    background-color: #ff9900;
  }

  .burger a:active {
    background-color: #e1670e;
  }

  .burger__link {
    top: -15px;
  }

  .burger__link::before {
    top: -6px;
    margin-top: 16px;
  }

  .burger__link::after {
    top: 21px;
  }

  .burger__link,
  .burger__link::after,
  .burger__link::before {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: inherit;
    transition: all 0.1s linear;
    cursor: pointer;
  }

  .burger__link::after,
  .burger__link::before {
    content: "";
  }

  .burger__link:hover::after,
  .burger__link:focus::after {
    width: 18px;
    left: 12px;
  }

  .burger__link:hover::before,
  .burger__link:focus::before {
    width: 25px;
    left: 5px;
  }
  .header__wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 0 50px;
  }
  .header__menu {
    padding: 0 10px;
  }
  .header__menu2 {
    background-color: #000000;
    padding: 0 22px 0 0;
  }
  .search_input {
    display: none;
  }
  .search_btn {
    top: -10px;
  }
  .container__hero {
    min-height: 768px;
    padding-top: 100px;
    background-image: url(../img/slide-21.jpg);
  }
  .header__mobil {
    position: absolute;
    display: none;
    left: 60px;
    top: 70px;
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .header__item {
    display: block;
    margin-bottom: 10px;
  }
  .header__list {
    margin: 0;
  }
  .header__account {
    background-position-y: 5px;
    margin-bottom: 10px;
  }
  .wrap__hero {
    padding-left: 50px;
    padding-top: 105px;
  }
  .hero__text {
    max-width: 661px;
    margin-bottom: 107px;
  }
  .wrap__about {
    padding: 0 50px;
  }
  .wrap__gallery {
    padding: 80px 50px;
    height: 839px;
    min-height: 0;
  }
  .wrap_description {
    min-height: 0px;
  }
  .gallery__title {
    line-height: 1;
  }
  .gallery__deckription {
    flex: 0 0 332px;
    padding-right: 50px;
  }
  .gallery__filters {
    margin-bottom: 360px;
  }
  .galery__slide {
    width: 280px;
    height: 280px;
  }
  .gallery__slider {
    flex: 0 0 594px;
    height: 674px;
  }
  .gallery__slider .swiper-slide {
    height: calc((100% - 34px) / 2);
  }
  .wrap_catalog {
    padding: 0 50px 0 50px;
  }
  .catalog__picture {
    flex: 0 0 calc(50% - 50px);
  }
  .wrap__events {
    margin: 0 50px;
  }
  .events__description-wrap {
    padding-left: 34px;
    padding-right: 34px;
  }
  .events__event {
    flex: 1 1 calc((100% - 54px) / 3);
    margin-right: 27px;
    margin-bottom: 27px;
    min-height: 683px;
  }
  .wrap__editions {
    padding-left: 50px;
    padding-right: 50px;
  }
  .editions__slider {
    flex: 0 0 629px;
  }
  .swiper__img {
    margin-bottom: 13px;
  }
  .wrap__projects {
    padding-left: 50px;
    padding-right: 50px;
  }
  .wrap__contacts {
    padding-left: 50px;
  }
  .contacts__info {
    flex: 0 0 431px;
  }
  .contacts__map {
    width: 537px;
  }
  .footer__wrap {
    padding: 0 50px;
  }
  .catalog__list {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
}
@media (max-width: 1023px) {
  .container {
    width: 768px;
  }
  .container__hero {
    background-image: url(../img/slide-22.jpg);
  }
  .wrap__gallery {
    display: block;
    height: 1169px;
    min-width: 0;
  }
  .gallery__title {
    font-weight: 400;
  }
  .gallery__filters {
    margin-bottom: 30px;
  }
  .galery__slide {
    width: 317px;
    height: 280px;
  }
  .gallery__text {
    display: none;
  }
  .gallery__text_mob {
    display: block;
    color: #ffffff;
  }
  .gallery__slider {
    margin-bottom: 30px;
  }
  .choices {
    width: 280px;
    height: 40px;
  }
  .catalog__language:last-child {
    margin-right: 0;
  }
  .catalog__flag {
    margin-right: 0;
  }
  .catalog__language {
    margin-right: 50px;
  }
  .wrap_catalog {
    padding-left: 47px;
  }
  .catalog__title {
    font-weight: 400;
  }
  .catalog__content {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .catalog__painters {
    margin-bottom: 50px;
  }
  .catalog__picture {
    margin-right: 0;
  }
  .events__title {
    font-weight: 400;
  }
  .events_3 {
    display: none;
  }
  .events__event {
    flex: 1 1 calc((100% - 34px) / 2);
    margin-right: 34px;
    margin-bottom: 34px;
    min-height: 683px;
  }
  .events__event:nth-child(3n) {
    margin-right: 34px;
  }
  .events__event:nth-child(even) {
    margin-right: 0;
  }
  .wrap__editions {
    flex-wrap: wrap;
  }
  .editions__title {
    font-weight: 400;
  }
  .editions__list {
    columns: 3;
  }
  .editions__input {
    padding-left: 10px;
  }
  .editions__input::placeholder {
    text-align: left;
  }
  .editions__filter {
    max-width: 300px;
  }
  .projects__img {
    min-height: 0;
  }
  .projects__picture {
    width: 264px;
    height: 106px;
  }
  .projects__picture_1 {
    background-image: url(../img/projects12.svg);
  }
  .projects__picture_2 {
    background-image: url(../img/projects22.svg);
  }
  .projects__picture_3 {
    background-image: url(../img/projects32.svg);
  }
  .projects__picture_4 {
    background-image: url(../img/projects42.svg);
  }
  .projects__picture_5 {
    background-image: url(../img/projects52.svg);
  }
  .projects__picture_6 {
    background-image: url(../img/projects62.svg);
  }
  .projects__picture_7 {
    background-image: url(../img/projects72.svg);
  }
  .projects__picture_8 {
    background-image: url(../img/projects82.svg);
  }
  .projects__picture_9 {
    background-image: url(../img/projects92.svg);
  }
}
@media (max-width: 765px) {
  .container {
    width: 320px;
  }
  section {
    margin-bottom: 50px;
  }
  h2 {
    font-size: 28px;
    line-height: 38.13px;
  }
  .header__wrap {
    padding: 0 15px;
  }
  .header__logo {
    margin-right: 0;
    flex: 0 0 97px;
  }
  .burger {
    margin-right: auto;
  }
  .header__menu2 {
    margin-left: auto;
  }
  .header__menu {
    min-height: 45px;
    justify-content: center;
  }
  .header__menu2 {
    min-height: 0;
  }
  header {
    margin-bottom: -45px;
  }
  .container__hero {
    min-height: 355px;
    padding-top: 45px;
    background-image: url(../img/slide-13.jpg);
  }
  .wrap__hero {
    padding: 30px 30px 45px 30px;
  }
  .hero__title {
    text-align: center;
    font-size: 32px;
    line-height: 43.58px;
  }
  .hero__text {
    max-width: 100%;
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 16.34px;
    text-align: center;
  }
  .hero__link {
    font-size: 12px;
    line-height: 16.34px;
    border-radius: 100px;
    padding: 11px 16px 14px 19px;
    display: block;
    width: 200px;
    margin: 0 auto;
  }
  .wrap__about {
    padding: 0 15px;
  }
  .about__text {
    font-size: 14px;
    line-height: 28px;
  }
  .about__title {
    margin-bottom: 20px;
  }
  .wrap__gallery {
    background-image: url("../img/galery_fon320.jpg");
    height: 962px;
    padding: 50px 15px;
  }
  .gallery__slider {
    height: 417px;
    padding-top: 0;
    padding-bottom: 50px;
  }
  .galery__slide {
    width: 290px;
    height: 367px;
  }
  .gallery__slider .swiper-button-next,
  .gallery__slider .swiper-button-prev {
    top: 400px;
  }
  .gallery__slider .swiper-button-next {
    left: calc(50% + 40px);
  }
  .gallery__slider .swiper-button-prev {
    left: calc(50% - 72px);
  }
  .gallery__slider .swiper-pagination-fraction {
    top: 385px;
    left: calc(50% - 35px);
  }
  .galery__fon {
    top: 0;
    left: 0;
    width: 290px;
    height: 367px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../img/seach5.svg), url(../img/krest.svg);
    background-repeat: no-repeat;
    background-position-x: 48%, 50%;
    background-position-y: 51%, center;
  }
  .galery__slide_1 {
    background-image: url(../img/gal1m.jpg);
  }
  .galery__slide_2 {
    background-image: url(../img/gal2m.jpg);
  }
  .gallery__slider .swiper-slide {
    height: 100%;
  }
  .catalog__header {
    flex-wrap: wrap;
  }
  .catalog__flag {
    width: 32px;
    height: 32px;
  }
  .catalog__language {
    margin-right: 32px;
  }
  .wrap_catalog {
    padding: 0 15px;
  }
  .catalog__language {
    margin-right: 28px;
  }
  .catalog__list {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }
  .editions__list {
    columns: 1;
  }
  .editions__filter {
    max-width: 100%;
  }
  .editions__slider .swiper__img {
    width: 130px;
    height: 143px;
  }
  .wrap__editions {
    padding: 50px 15px;
  }
  .swiper__text {
    font-size: 12px;
    line-height: 16.34px;
  }
  .wrap__projects {
    padding: 0 15px;
  }
  .footer__wrap {
    flex-direction: column-reverse;
    padding: 20px 0;
  }
  .footer__social {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .footer__logo {
    margin: 0 auto;
  }
  .logo_footer {
    width: 96.8px;
  }
  .contacts__info {
    padding-top: 20px;
  }
  .contacts__map {
    width: 320px;
    height: 320px;
  }
  .contact__content {
    flex-direction: column;
  }
  .wrap__events {
    margin: 0 15px;
  }
  .events__moble {
    display: none;
  }
  .events__slider {
    display: block;
  }
  .events__slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #666666;
  }
  .events__slider .swiper-pagination-bullets {
    bottom: 0px;
    left: 70px;
  }
  .events__slider .swiper-slide {
    padding-bottom: 50px;
  }
  .events__event {
    margin: 0;
  }
  .events__btn {
    display: none;
  }
  .editions__slider {
    display: none;
  }
  .wraper__mobil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .wraper__mobil .swiper-slide {
    flex: 0 0 calc(100% / 2 - 10px);
    margin-bottom: 10px;
  }
  .wraper__mobil .swiper__description {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .editions__filter {
    margin-bottom: 20px;
  }
} */
